@using SportConnect.Models
@model TournamentViewModel
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 76vh; font-size: 1.2rem;">
    <div class="container p-3 border rounded" style="max-width: 55%; overflow: auto; padding: 1rem;">
        <h1 class="text-center mb-4" style="font-size: 2rem;">Добави турнир</h1>
        <form method="post">
            <div class="row mb-3">
                <div class="col">
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control" aria-required="true" placeholder="Име..." style="font-size: 1rem;" />
                        <label asp-for="Name" style="font-size: 1rem;">Име</label>
                        <span asp-validation-for="Name" class="text-danger" style="font-size: 1rem;"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input asp-for="Description" class="form-control" aria-required="true" placeholder="Описание..." style="font-size: 1rem;" />
                        <label asp-for="Description" style="font-size: 1rem;">Описание</label>
                        <span asp-validation-for="Description" class="text-danger" style="font-size: 1rem;"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="form-floating">
                        <input type="datetime-local" asp-for="Date" class="form-control" aria-required="true" style="font-size: 1rem;" />
                        <label asp-for="Date" style="font-size: 1rem;">Дата на провеждане</label>
                        <span asp-validation-for="Date" class="text-danger" style="font-size: 1rem;"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="datetime-local" asp-for="Deadline" class="form-control" aria-required="true" style="font-size: 1rem;" />
                        <label asp-for="Deadline" style="font-size: 1rem;">Краен срок</label>
                        <span asp-validation-for="Deadline" class="text-danger" style="font-size: 1rem;"></span>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" asp-for="Location" class="form-control" aria-required="true" placeholder="Локация..." style="font-size: 1rem;" />
                <label asp-for="Location" style="font-size: 1rem;">Локация</label>
                <span asp-validation-for="Location" class="text-danger" style="font-size: 1rem;"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="SportId" class="form-select" asp-items="Model.Sports" style="font-size: 1rem;">
                    <option disabled selected>Избери спорт</option>
                </select>
                <span asp-validation-for="SportId" class="text-danger" style="font-size: 1rem;"></span>
            </div>

            <div class="d-flex justify-content-between mt-3" style="font-size: 1rem;">
                <a asp-action="AllTournaments" asp-controller="Tournament" class="btn btn-secondary" style="font-size: 1rem;">Назад</a>
                <button type="submit" class="btn btn-success text-white d-flex justify-content-center align-items-center" style="font-size: 1rem;">
                    Добави
                </button>
            </div>
        </form>
    </div>
</div>
