@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здравей</h1>
    <p>Научете за <a href="https://learn.microsoft.com/aspnet/core">създаването на уеб приложения с ASP.NET Core</a>.</p>
</div>
